# Hugo default output directory
/public/

# Hugo cache directory
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Executable may be added to repository
hugo.exe
hugo.darwin
hugo.linux

# Temporary files
*.test
*.swp
.DS_Store
*~

# IDE specific files
.idea
.vscode
*.sublime-workspace
*.sublime-project
